<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
    <script src="{{ url_for('static', filename = 'main.js') }}"></script>
  </head>
 <body>
    <div class="loading-overlay">
       <div class="loading-animation"></div>
    </div>
    <div id = 'container_id' class="container">
        <header>
            <a href="/">Home</a>
            <a href="/logout">Log out</a>
        </header>
        <audio id  = 'audio_id' controls type = 'audio/mpeg' style = 'display: none' ></audio>
        <button id = 'repeat_id' class = 'button'>start</button>
        <div id = 'text_id'>show</div>
        <div class="buttons">
            <button id = "left_button_id"  class="button button-left">Left</button>
            <button id = "right_button_id"  class="button button-right">Right</button>
        </div>
    </div>
  </div>
</body>
</html>
