body {
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
header {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    justify-content: space-between;
    height: 8vh;
}
header a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px 0;
}
.button {
    flex-grow: 1;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.button-left {
    background-color: #4CAF50; /* Green */
    color: #fff;
}
.button-right {
    background-color: #FF5733; /* Red */
    color: #fff;
}

#overlay_id {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.44546679.1699574400&semt=sph');
  /* background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */ */
  z-index: 100; /* Ensure the overlay is on top of all other elements */
  display: flex;
  cursor: pointer;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  z-index: 999; /* Ensure the overlay is on top of all other elements */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */
}

.loading-animation {
    border: 16px solid #f3f3f3; /* Light gray border */
    border-top: 16px solid #3498db; /* Blue border (animation) */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -60px; /* Half of width to center horizontally */
    margin-top: -60px; /* Half of height to center vertically */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#repeat_id {
    height: 20vh;
    width: 100%;
    background-color: lightblue;
    font-size: 70px;
}

#text_id {
    width: 100%;
    height: 25vh;
    /* margin-top: 50px; */
    font-size: 70px;
    display: flex;
    background-color: pink;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}